<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="/app.css">
     <title>New Driver</title>
   </head>
   <body>
     <h1>New Driver Page</h1>
     <form action="/drivers" method="POST">
       <label for="name">Name</label>
       <input type="text" name="name" id="name"/>
       <label for="name">Age</label>
       <input type="text" name="age" id="name"/>
       <br>
       <% companys.forEach(company => { %>
         <input type="checkbox" name="driverCompanysArray" value="<%= company._id %>"><%= company.name %><br>
       <% }) %>
       <input type="submit" value="Create Driver">
       
     </form>
   </body>
 </html>