<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> New </h1>
    <form action="/companys" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
      <label for="address">address</label>
      <input type="text" name="address" id="address" />
      <label for="city">city</label>
      <input type="text" name="city" id="city" />
      <label for="telephone">telephone</label>
      <input type="text" name="telephone" id="telephone" />
      <label for="driver ">driver</label>
      <input type="text" name="driver " id="driver " />
      <label for="car ">Car</label>
      <input type="text" name="car " id="car " />
     
      <input type="submit" value="Create new">
    </form>
  </body>
</html>